# Ignore IDE files
*.swp
/.idea/*
/.vs/*
/.vscode/*

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Misc
.DS_Store
/vendor/

# PHP
.phan
composer.lock
.phpunit.result.cache
.phpstorm.meta.php
.php_cs.cache
.php-cs-fixer.cache
